[Unit]
Description=PostgreSQL 9.4 Service - instance %i
After=docker.service
Requires=docker.service
Requires=psql-init@%i.service
After=psql-init@%i.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
Environment=PREFIX=/psql_test/
ExecStartPre=-/usr/bin/docker kill psql94-%i
ExecStartPre=-/usr/bin/docker rm psql94-%i
ExecStartPre=-/usr/bin/docker pull atlo/psql94
						 
ExecStart=/usr/bin/docker run --rm -e HOST_IP=${COREOS_PRIVATE_IPV4} -e CELL_ETCD_PREFIX="${PREFIX}" -p ${COREOS_PRIVATE_IPV4}:5432:5432  --name="psql94-%i" -v /opt/psql-data:/opt/psql-data -v /opt/psql-backup:/opt/psql-backup  atlo/psql94

ExecStop=/usr/bin/docker stop psql94-%i 

[X-Fleet]
Conflicts=psql@*.service
MachineOf=psql-init@%i.service

