[Unit]
Description=Cassandra 2.0 Service SideKick - instance %i
# Requirements
#Requires=etcd.service
Requires=cassandra20-seed@%i.service
#Order & binding
#After=etcd.service
After=cassandra20-seed@%i.service
BindsTo=cassandra20-seed@%i.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c 'PREFIX="/" ; while true; do \
				        sleep 30 ; \
						ST="$(docker exec cass-seed-%i /opt/cassandra/bin/nodetool status)" ; \
						T=$(date -uIseconds) ; \
						etcdctl set --ttl 80 ${PREFIX}cassandra/seed-cassandra-%i-ip ${COREOS_PRIVATE_IPV4} > /dev/null ; \
						etcdctl set --ttl 80 ${PREFIX}cassandra/seed-cassandra-%i-port 9042 > /dev/null ; \
						etcdctl set --ttl 80 ${PREFIX}cassandra/seed-cassandra-%i-status "$ST $T" > /dev/null ; \
	 				 	sleep 30; done'

ExecStop=/bin/bash -c  -l ' PREFIX="/" ; \
					  		etcdctl rm ${PREFIX}cassandra/seed-cassandra-%i-ip ; \
					  		etcdctl rm ${PREFIX}cassandra/seed-cassandra-%i-port ; \
					  		etcdctl rm ${PREFIX}cassandra/conf/seed-%i ; \
					  		etcdctl rm ${PREFIX}cassandra/seed-cassandra-%i-status '

[X-Fleet]
MachineOf=cassandra20-seed@%i.service