[Unit]
Description=Redis 2.8 Service SideKick - instance %i
# Requirements
Requires=etcd.service
Requires=redis@%i.service
#Order & binding
After=etcd.service
After=redis@%i.service
BindsTo=redis@%i.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c 'PREFIX="/" ; while true; do \
				        sleep 30 ; \
						ST=$(/usr/bin/docker exec redis-%i redis-cli ping) ; T=$(date -uIseconds) ; \
						etcdctl set --ttl 80 ${PREFIX}redis/redis-%i-ip ${COREOS_PRIVATE_IPV4} > /dev/null ; \
						etcdctl set --ttl 80 ${PREFIX}redis/redis-%i-port 6379 > /dev/null ; \
						etcdctl set --ttl 80 ${PREFIX}redis/redis-%i-cli "-h ${COREOS_PRIVATE_IPV4} -p 6379" > /dev/null ; \
						etcdctl set --ttl 80 ${PREFIX}redis/redis-%i-status "$ST $T" > /dev/null ; \
	 				 	sleep 30; done'
ExecStop=/bin/sh -c ' PREFIX="/" ; \
					  etcdctl rm ${PREFIX}redis/redis-%i-ip  ; etcdctl rm ${PREFIX}redis/redis-%i-port ; \
					  etcdctl rm ${PREFIX}redis/redis-%i-cli ; etcdctl rm ${PREFIX}redis/redis-%i-status '

[X-Fleet]
MachineOf=redis@%i.service